<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nébula Music - Error 404 / 500</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>

<main>
    <section>
        <h1>¡Ups! Algo salió mal.</h1>
        <h2>Error 404 / 500</h2>
        <p>La página que estás buscando no existe o se ha producido un error inesperado en nuestro servidor.</p>

        <br>
        <a href="index.html">Volver a la Página Principal</a>
    </section>
</main>

<footer>
    <p>Copyright Nébula 2025.</p>
</footer>

</body>
</html>